html, body {
  transition: 1s all ease;
  height: 100%;
}

body {
  margin: 0;

  overflow-x: hidden;
  max-width: 100%;

}

#canvas {
  position: absolute;
  top: 322px;
  width: 100%;
  height: 100%;
  max-height: 600px;
  pointer-events: none;
}

#canvas.canv_mint {
  top: 580px;
  position: absolute;
  height: 600px;
  pointer-events: none;
  LEFT: 0;
  pointer-events: none;
}

@font-face {
  font-family: RifficFree;
  src: url(../fonts/RifficFree-Bold.ttf);
}

p {
  font-family: RifficFree;
  color: white;
  font-size: 22px;
}

li {
  font-family: RifficFree;
  color: white;
}

header {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 15%;
  z-index: 99999;
}

#header_nav {
  transition: 0.3s all ease-in;
}

nav.navbar.navbar-expand-lg {
  background-color: #be6621;
  z-index: 99999;
  border: 4px solid #7f3502;
  border-radius: 5px;
  /*background-image: url(../images/header_bg.jpg);*/
}

.nav-item .nav-link {
  color: white;
  font-family: RifficFree;
  font-size: 18px;
  text-rendering: auto;
}

.navbar-brand {
  padding-top: 0;

}

li.nav-item {
  padding: 0 20px;
}

#wallet {
  position: absolute;
  top: -16px;
  right: 40px
}

.navbar-toggler {
  color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, 1);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

#first_section {
  background-image: url(../images/background.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 955px;
  overflow: hidden;
}

#mint_section {
  background-image: url(../images/mint/koala-mint-background.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  height: 1180px;
}

#wrap_gif {
  background-image: url(../images/box_gif.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  height: 750px;
  width: 500px;
  margin: auto;
}

#gif_img {
  position: relative;
  top: 187px;
  left: -3px;
}

.btn_sx {
  height: 100%;

  margin: 150px auto;

}

.wrap_btn {
  position: relative;
}

.btn_sx img, .btn_dx img {
  display: block;
  padding-bottom: 30%;
}

.btn_sx {
  height: 100%;
  margin: 150px auto;
  position: absolute;
  right: 0;
}

.btn_dx {
  height: 100%;
  margin: 150px auto;
  position: absolute;
  left: 0;
}


#second_section {
  background-image: url(../images/background_second_section.png);
  background-position: top center;
  position: relative;
  z-index: 0;
  margin-top: -6%;
  height: 1330px;
  overflow: hidden;
}

#second_section p {
  font-size: 19px;
}

/*FAQ*/
.box_faq {
  /*border: 8px solid #c2ccb0;*/
  border-radius: 20px;
  max-width: 70%;
  margin: auto;
  padding: 15px 30px;
  margin-bottom: 50px;
  /*background-color: #82993f;*/
}

.box_faq h4 {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}

.box_faq p {
  font-size: 17px;
  text-align: left;
  color: ghostwhite;
  font-weight: 700;
}

.box_faq a {
  color: ghostwhite;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

/*FINE FAQ*/

#second_section .container {
  padding-top: 140px;
}

#gallery {

  width: 95%;
  margin: 50px auto;
}

#gallery img {
  width: 100%;
  padding: 15px;
  max-width: 400px;
}

.slick-active {
  opacity: 1;
}

#third_section {
  background-image: url(../images/background_third_section.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
  margin-top: -6%;
  height: 1126px;
  overflow-x: hidden;
}

#logo_koala_arcade {
  padding-top: 245px;
}

div#chambers_of_the_secret {
  padding-top: 50px;
}

#chambers_of_the_secret img {
  max-width: 500px;
}

#four_section {
  background-image: url(../images/background_four_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 1335px;
  z-index: 4;
  position: relative;
  padding-top: 215px;
  margin-top: -161px;
}

#four_section img {
  max-width: 600px;
}

.dao_text p {
  font-size: 18px;
  text-align: left;
}

.dao_text li {
  font-size: 16px;
  text-align: left;
}

.dao_text strong {
  color: #fcff2f
}

.dao_text ul {
  padding: 0;
  margin: 0;
}

.dao_text .a {
  list-style: none
}

.dao_text .b li {
  font-size: 16px;
  text-align: left;
  list-style: disc;
}

#road_map {
  background-image: url(../images/background_road_map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: -420px;
  z-index: 4;
  position: relative;
  background-color: transparent;
  height: 1363px;
  overflow-x: hidden;

}



#wrap_road_map {
  padding-top: 200px;
  height: 100%;
}

#wrap_road_map .row {
  height: 100%;
  margin-right: 2%;
}

.roadmap_img_wrap {
  max-width: 650px
}

.roadmap_img_wrap img {
  min-width: 450px;
}

.roadmap_img_wrap.l {
  margin-bottom: 280px;
}

.roadmap_img_wrap.r {
  margin-bottom: 380px;
}


#six_section {
  background-image: url(../images/background_six_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: -195px;
  z-index: 4;
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
}

#team {
  background-image: url(../images/background_third_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: -150px;
  z-index: 4;
  position: relative;
  padding-top: 150px;
  padding-bottom: 20px;
  min-height: 1000px;

}

#team .row img {
  width: 100%;
}

#team ul {
  margin: 0;
  padding: 0;
}

#team li {
  display: inline-block;
}

#team a {
  color: white;
  padding: 5px;
}

.h2, h2 {
  font-size: 54px;
  font-family: 'RifficFree';
  color: white;

}

#faq {
  margin-top: 80px;
}

#img_width {
  width: 520px;
}

.minter_img {
  position: relative;
}

#wrapper_minter h2 {
  position: absolute;
  left: calc(50% - 23px);
  font-size: 46px;
  bottom: 8px;
}

#wrapper_minter .price {
  position: absolute;
  left: calc(50% + 117px);
  top: 300px;
  font-size: 19px;
  width: 80px;
}

#wrapper_minter .btn_mint_sx, #wrapper_minter .btn_mint_dx {
  position: absolute;

}

#wrapper_minter #btn_mint_sx {
  position: absolute;
  left: calc((50% - 34px) - 100px);
  bottom: calc(0px - 25px);
}

#wrapper_minter #btn_mint_dx {
  position: absolute;
  left: calc((50% - 34px) + 100px);
  bottom: calc(0px - 25px);
}

#wrapper_minter #gif_width {
  width: 140px;
  position: absolute;
  left: calc(50% - 65px);
  bottom: calc(0px + 61px);
}

footer {
  width: 100%;
  height: 300px;
  /*background-color: #12241c;*/
}

footer #contacts li {
  display: inline;
}

footer #contacts a {
  color: white;
  text-decoration: unset;
  font-family: RifficFree;
  font-size: 14px;
}

footer #contacts svg {
  margin-right: 5px;
}

footer #contacts {
  text-align: center;
}